@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background: rgb(252, 252, 254);
  background: linear-gradient(
    0deg,
    rgba(252, 252, 254, 1) 0%,
    rgba(93, 97, 187, 1) 21%,
    rgba(93, 97, 188, 1) 100%
  );
  padding-bottom: 30px;
}

.navbar-brand {
  font-family: "Calistoga", serif;
}

.nav-link {
  color: black;
}

.navbar-toggler-icon img {
  max-height: 100%;
  max-width: 100%;
}

.placeholder-white::placeholder {
  color: white;
}
